h1,
h2 {
  color: #99762c; }

p {
  color: #81817e;
  hyphens: auto; }

.projects_section {
  font-size: 1.5rem;
  height: auto;
  background-color: #e7e2d6;
  margin: 2rem;
  padding: 10rem 1rem 4rem 1rem;
  clip-path: polygon(0.21% 4.18%, 99.99% 0.23%, 100% 100%, 0% 100%); }
  .projects_section .project:not(:last-child) {
    margin-bottom: 5rem; }
  .projects_section .project_header {
    text-align: center;
    margin: 1rem 0; }
  .projects_section .swiper {
    flex: 0 0 60%; }
  .projects_section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; }
    .projects_section .swiper-slide .desktop-image {
      display: block;
      width: 90%;
      height: 100%;
      object-fit: cover; }
    .projects_section .swiper-slide .mobile-image {
      display: none; }
  .projects_section_header {
    text-align: center;
    margin: 1rem 0; }
  .projects_section .flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

.container {
  background-color: #e7e2d6;
  margin: 1rem 2rem;
  height: 130vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 90%); }

.header {
  display: flex;
  font-size: 2.25rem;
  align-items: center;
  justify-content: space-between; }

.socials-nav__social {
  margin: 0rem 1rem; }

a,
a:visited {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black; }

.about-me-section {
  margin: 4rem;
  padding: 1rem 2rem; }

.about-me {
  display: flex; }
  .about-me__main {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 1.5rem; }
    .about-me__main-text {
      padding-top: 1rem;
      flex: 0 0 25%; }
    .about-me__main-skills {
      flex: 0 0 15%; }
    .about-me__main .about-me-socials-nav__social {
      margin: 0.7rem; }
  .about-me__image-me {
    max-width: 100%; }

.btn {
  background-color: #99762c;
  font-size: 1rem;
  display: block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px;
  padding: 0.7rem 2rem;
  width: 10rem; }

.zoom-button {
  display: inline-block;
  margin-left: 2rem; }

.svg-logos {
  text-align: center;
  transform: skewY(-5deg); }
  .svg-logos .svg-logo {
    width: 3rem;
    height: 3rem;
    margin: -1rem 2rem -1rem 2rem; }
