*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: $color-background;
  font-size: 62.5%;
  line-height: 1.6;

  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.container {
  background-color: $color-background;
  margin: 1rem 2rem;
  height: 130vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 90%);
}

.header {
  display: flex;
  font-size: 2.25rem;
  align-items: center;

  justify-content: space-between;
}

.socials-nav {
  &__social {
    margin: 0rem 1rem;
  }
}

a,
a:visited {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.about-me-section {
  margin: 4rem;
  padding: 1rem 2rem;
}

.about-me {
  display: flex;

  &__main {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    font-size: 1.5rem;

    &-text {
      padding-top: 1rem;
      flex: 0 0 25%;
    }
    &-skills {
      flex: 0 0 15%;
    }

    .about-me-socials-nav__social {
      margin: 0.7rem;
    }
  }

  &__image-me {
    max-width: 100%;
  }
}

.btn {
  background-color: #99762c;
  font-size: 1rem;
  display: block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px;
  padding: 0.7rem 2rem;
  width: 10rem;
}
.zoom-button {
  display: inline-block;
  margin-left: 2rem;
}

.svg-logos {
  text-align: center;
  transform: skewY(-5deg);
  .svg-logo {
    width: 3rem;
    height: 3rem;
    margin: -1rem 2rem -1rem 2rem;
  }
}
