.projects_section {
  font-size: $font-size;
  height: auto;
  background-color: $color-background;
  margin: 2rem;
  padding: 10rem 1rem 4rem 1rem;
  clip-path: polygon(0% 4.18%, 99.99% 0%, 100% 100%, 0% 95.82%);

  @media only screen and (max-width: 1200px) {
    font-size: 1.2rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.1rem;
  }
  @media only screen and (max-width: 745px) {
    font-size: 1rem;
  }
  @media only screen and (max-width: 600px) {
    margin: 0;
    clip-path: polygon(0% 2%, 99.99% 0%, 100% 100%, 0% 98%);
  }
  @media only screen and (max-width: 396px) {
    font-size: 0.9rem;
  }

  &_project-1_explanation,
  &_project-2_explanation,
  &_project-3_explanation,
  &_project-4_explanation,
  &_project-5_explanation,
  &_project-6_explanation {
    margin-top: 1.5rem;
  }

  &_project-5 {
    margin-bottom: 15rem;
  }

  .project:not(:last-child) {
    margin-bottom: 5rem;
  }

  .project_header {
    text-align: center;
    margin: 1rem 0;
  }
  .swiper {
    flex: 0 0 60%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    .desktop-image {
      display: block;
      width: 90%;
      height: 100%;
      object-fit: cover;

      @media only screen and (max-width: 904px) {
        display: none;
      }
    }
    .mobile-image {
      display: none;

      @media only screen and (max-width: 904px) {
        display: block;
        width: 90%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_header {
    text-align: center;
    margin: 1rem 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 510px) {
      display: block;
    }
  }
}
